header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  background: #1e1e1e;
  padding: 1rem 2rem;
  padding-left: 10em;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

header ul li a:hover {
  text-decoration: underline;
}

.container-left,
.container-right {
  width: 50%;
  padding: 1.5rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
}

section:first-of-type {
  flex-direction: column;
  background: url("./img/head\ image.webp");
  padding: 10em 10em 5em 10em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-of-type(2) .container-right {
  background: url("./img/corvus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

section:nth-of-type(3) .container-right {
  background-color: #1e1e1e;
  color: white;
}

section:nth-of-type(3) .container-left {
  background: url("./img/raven_london.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

section:nth-of-type(4) .container-right {
  background: url("./img/raven_scavenge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:last-of-type {
  flex-direction: column;
  background: #231e19;
  padding: 5em 10em 10em 10em;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

section:last-of-type img {
  width: 33.333%; 
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  height: auto;
}

.container-left {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 302px;
  background-color: #1e1e1e;
  color: white;
  justify-content: center;
  padding-left: 10em;
}

.container-right {
  flex: 1 1 30%;
  min-height: 350px;
  background-color: #f3f3f3;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 5em;
  padding-right: 5em;
}

body {
  padding: 0;
  margin: 0;
}

footer {
  text-align: start;
  padding: 1rem;
  background: #1e1e1e;
  color: white;
  padding-left: 9.9rem;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  color: #f5f3ef;
}

h1 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 0;
}

h3 {
  font-size: 1.8rem;
  font-weight: lighter;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  color: #f5f3ef;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-family: "Crimson Text", serif;
  line-height: 1.6;
  color: #f5f3ef;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Crimson Pro", serif;
  color: #f5f3ef;
}

td {
  padding-top: 8px;
  padding-bottom: 8px;
}
